[data-theme='crane-straight'] {
  --tp-bg: #5d1049;
  --tp-surface: #71135c;
  --tp-surface-hover: #71135c;
  --tp-input-bg: #71135c;

  --tp-text: #ffffff;
  --tp-text-secondary: #e5e5e5;
  --tp-text-disabled: rgba(255, 255, 255, 0.6);
  --tp-text-type-time: #ffffff;
  --tp-text-icon: #ffffff;

  --tp-am-pm-active: #f7363e;
  --tp-am-pm-text-selected: #ffffff;
  --tp-am-pm-text-unselected: #ffffff;

  --tp-primary: #f7363e;
  --tp-on-primary: #ffffff;
  --tp-primary-container: #f7363e;
  --tp-on-primary-container: #ffffff;

  --tp-tertiary-container: #f7363e;
  --tp-on-tertiary-container: #ffffff;

  --tp-border: transparent;
  --tp-outline: #ff4c52;
  --tp-radius: 0;
}
