[data-theme='cyberpunk'] {
  --tp-bg: #0f0c29;
  --tp-surface: #1a1a2e;
  --tp-surface-hover: #1a1a2e;
  --tp-input-bg: #1a1a2e;

  --tp-text: #f8f8ff;
  --tp-text-secondary: #00f0ff;
  --tp-text-disabled: rgba(0, 240, 255, 0.4);
  --tp-text-type-time: #00f0ff;
  --tp-text-icon: #00f0ff;

  --tp-am-pm-active: #00f0ff;
  --tp-am-pm-text-selected: #0f0c29;
  --tp-am-pm-text-unselected: #00f0ff;

  --tp-primary: #00f0ff;
  --tp-on-primary: #0f0c29;
  --tp-primary-container: #00f0ff;
  --tp-on-primary-container: #0f0c29;

  --tp-tertiary-container: #00f0ff;
  --tp-on-tertiary-container: #0f0c29;

  --tp-border: rgba(0, 240, 255, 0.3);
  --tp-outline: rgb(255, 255, 255);
  --tp-shadow: 0 0 12px #00f0ff;
  --tp-radius: 1rem;
}
