[data-theme='m3-green'] {
  --tp-bg: #e5eadc;
  --tp-surface: #dfe4d6;
  --tp-surface-hover: #dfe4d6;
  --tp-input-bg: #dfe4d6;

  --tp-text: #1a1c18;
  --tp-text-secondary: #6b7165;
  --tp-text-disabled: rgba(156, 155, 155, 0.6);
  --tp-text-type-time: #6b7165;
  --tp-text-icon: #6b7165;

  --tp-am-pm-active: #bbebeb;
  --tp-am-pm-text-selected: #002021;
  --tp-am-pm-text-unselected: #6b7165;

  --tp-primary: #386a20;
  --tp-on-primary: #042100;
  --tp-primary-container: #b8f397;
  --tp-on-primary-container: #042100;

  --tp-tertiary-container: #bbebeb;
  --tp-on-tertiary-container: #002021;

  --tp-border: #74796e;
  --tp-outline: #4ade80;
  --tp-shadow: unset;
  --tp-radius: 35px;

  --tp-dropdown-option-bg: #ffffff;
  --tp-dropdown-option-text: #1a1c18;
}
