[data-theme='ai'] {
  --tp-bg: #f3f4f6;
  --tp-surface: #e5e7eb;
  --tp-surface-hover: #f9fafb;
  --tp-input-bg: #e5e7eb;

  --tp-text: #111827;
  --tp-text-secondary: #6b7280;
  --tp-text-disabled: rgba(107, 114, 128, 0.6);
  --tp-text-type-time: #374151;
  --tp-text-icon: #6b7280;

  --tp-am-pm-active: #3b82f6;
  --tp-am-pm-text-selected: white;
  --tp-am-pm-text-unselected: #6b7280;

  --tp-primary: #3b82f6;
  --tp-on-primary: white;
  --tp-primary-container: #3b82f6;
  --tp-on-primary-container: white;

  --tp-tertiary-container: #3b82f6;
  --tp-on-tertiary-container: white;

  --tp-border: #d1d5db;
  --tp-outline: #3b82f6;
  --tp-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  --tp-radius: 0.75rem;

  --tp-dropdown-option-bg: #ffffff;
  --tp-dropdown-option-text: #111827;
}
