@use '../variables.scss' as *;

.timepicker-ui-wrapper.crane-straight,
.timepicker-ui-wrapper.mobile.crane-straight {
  --timepicker-bg: #{$cranepurple900};
  --timepicker-surface: #{$cranepurple700};
  --timepicker-surface-hover: #{$cranepurple700};
  --timepicker-text: #{$white};
  --timepicker-secondary-text: #e5e5e5;
  --timepicker-primary: #{$cranered400};
  --timepicker-on-primary: #{$white};
  --timepicker-border: transparent;
  --timepicker-border-radius: 0;

  &.radius {
    --timepicker-border-radius: 1.25rem;
  }
}

.timepicker-ui {
  &-wrapper,
  &-wrapper.mobile {
    &.crane-straight {
      border-radius: var(--timepicker-border-radius);
      background-color: var(--timepicker-bg);
      color: var(--timepicker-text);
    }
  }

  &-select-time,
  &-select-time.mobile {
    &.crane-straight {
      color: var(--timepicker-secondary-text);
    }
  }

  &-clock-face,
  &-clock-face.mobile {
    &.crane-straight {
      background-color: var(--timepicker-surface);
    }
  }

  &-dot,
  &-dot.mobile {
    &.crane-straight {
      background-color: var(--timepicker-primary);
    }
  }

  &-hour,
  &-minutes,
  &-hour.mobile,
  &-minutes.mobile {
    &.crane-straight {
      background-color: var(--timepicker-surface);
      border-radius: var(--timepicker-border-radius);
      color: var(--timepicker-text);

      &:hover,
      &.active {
        color: var(--timepicker-on-primary);
        background-color: var(--timepicker-primary);
      }
    }
  }

  &-hour.mobile,
  &-minutes.mobile {
    &.crane-straight {
      &[contenteditable='true']:focus,
      &[contenteditable='true']:active {
        border-color: var(--timepicker-text);
        outline-color: var(--timepicker-text);
      }
    }
  }

  &-dots,
  &-dots.mobile {
    &.crane-straight {
      color: var(--timepicker-text);
    }
  }

  &-wrapper-type-time,
  &-wrapper-type-time.mobile {
    &.crane-straight {
      color: var(--timepicker-text);
    }
  }

  &-am,
  &-pm,
  &-am.mobile,
  &-pm.mobile {
    &.crane-straight {
      border: 0.125rem solid var(--timepicker-border);
      border-radius: 0;
      background-color: var(--timepicker-surface);
    }

    &:hover,
    &.active {
      &.crane-straight {
        color: var(--timepicker-on-primary);
        background-color: var(--timepicker-primary);
      }
    }
  }

  &-am {
    &.crane-straight {
      &.radius {
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
      }
    }
  }

  &-pm {
    &.crane-straight {
      &.radius {
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
      }
    }
  }

  &-am:not(.timepicker-ui-am + .mobile) {
    &.crane-straight {
      &.radius {
        @media screen and (min-width: 320px) and (max-width: 826px) and (orientation: landscape) {
          border-bottom-left-radius: 1.25rem;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  &-pm:not(.timepicker-ui-pm + .mobile) {
    &.crane-straight {
      &.radius {
        @media screen and (min-width: 320px) and (max-width: 826px) and (orientation: landscape) {
          border-bottom-right-radius: 1.25rem;
          border-top-right-radius: 1.25rem;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }

  &-am.mobile {
    &.crane-straight {
      &.radius {
        @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
          border-bottom-left-radius: 0rem;
          border-bottom-right-radius: 0rem;
        }
      }
    }
  }

  &-pm.mobile {
    &.crane-straight {
      &.radius {
        @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
          border-top-left-radius: 0rem;
          border-top-right-radius: 0rem;
        }
      }
    }
  }

  &-cancel-btn,
  &-ok-btn,
  &-cancel-btn.mobile,
  &-ok-btn.mobile {
    &.crane-straight {
      color: var(--timepicker-text);
      border-radius: 0rem;

      &.radius {
        border-radius: 0.8125rem;
      }
    }

    &:hover {
      &.crane-straight {
        background-color: var(--timepicker-primary);
      }
    }
  }

  &-keyboard-icon-wrapper,
  &-keyboard-icon-wrapper.mobile {
    &.crane-straight {
      color: var(--timepicker-text);
    }

    &.crane-straight {
      &:hover .timepicker-ui-keyboard-icon,
      &:hover .timepicker-ui-keyboard-icon.mobile {
        background-color: var(--timepicker-primary);
        color: var(--timepicker-text);
        border-radius: 0;
      }

      &.radius {
        &:hover .timepicker-ui-keyboard-icon,
        &:hover .timepicker-ui-keyboard-icon.mobile {
          border-radius: 0.875rem;
        }
      }
    }
  }

  &-keyboard-icon,
  &-keyboard-icon.mobile {
    &.crane-straight {
      &:hover {
        color: var(--timepicker-text);
      }
    }
  }

  &-clock-hand {
    &.crane-straight {
      background-color: var(--timepicker-primary);
    }
  }

  &-circle-hand {
    &.crane-straight {
      border-color: var(--timepicker-primary);
      background-color: var(--timepicker-primary);
    }
  }

  &-value-tips {
    &.crane-straight {
      color: var(--timepicker-text);
    }
  }
}
