[data-theme='m2'] {
  --tp-bg: #ffffff;
  --tp-surface: #e0e0e0;
  --tp-surface-hover: #ece0fd;
  --tp-input-bg: #e4e4e4;

  --tp-text: #000000;
  --tp-text-secondary: #a9a9a9;
  --tp-text-disabled: rgba(156, 155, 155, 0.6);
  --tp-text-type-time: #787878;
  --tp-text-icon: #4e545a;

  --tp-am-pm-active: #ece0fd;
  --tp-am-pm-text-selected: #6200ee;
  --tp-am-pm-text-unselected: #787878;

  --tp-primary: #6200ee;
  --tp-on-primary: #ffffff;
  --tp-primary-container: #ece0fd;
  --tp-on-primary-container: #6200ee;

  --tp-tertiary-container: #ece0fd;
  --tp-on-tertiary-container: #6200ee;

  --tp-border: #d6d6d6;
  --tp-outline: #8b5cf6;
  --tp-hover-bg: #d6d6d6;

  --tp-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);

  --tp-radius: 4px;
  --tp-border-radius: 4px;
  --tp-radius-md: 2px;
  --tp-radius-sm: 4px;

  --tp-dropdown-option-bg: #ffffff;
  --tp-dropdown-option-text: #000000;
}
