@use '../variables.scss' as *;

.timepicker-ui-wrapper.m3-green {
  --timepicker-bg: #e5eadc;
  --timepicker-surface: #dfe4d6;
  --timepicker-surface-hover: #dfe4d6;
  --timepicker-text: #1a1c18;
  --timepicker-secondary-text: #6b7165;

  --timepicker-am-pm-active: #bbebeb;
  --timepicker-am-pm-text-selected: #002021;
  --timepicker-am-pm-text-unselected: #6b7165;

  --timepicker-primary: #386a20;
  --timepicker-on-primary: #042100;
  --timepicker-primary-container: #b8f397;
  --timepicker-on-primary-container: #042100;

  --timepicker-tertiary-container: #bbebeb;
  --timepicker-on-tertiary-container: #002021;

  --timepicker-border: #74796e;
  --timepicker-shadow: unset;
  --timepicker-border-radius: 35px;
}

.timepicker-ui {
  &-hour-time-12.m3-green,
  &-hour-time-24.m3-green {
    color: var(--timepicker-text);
  }

  &-wrapper.m3-green {
    border-radius: var(--timepicker-border-radius);
    background-color: var(--timepicker-bg);
    box-shadow: var(--timepicker-shadow);
  }

  &-hour.active.m3-green,
  &-minutes.active.m3-green {
    background-color: #b8f397;
    color: var(--timepicker-on-primary);
  }

  &-minutes.m3-green,
  &-hour.m3-green {
    background-color: var(--timepicker-surface);
  }

  &-minutes:hover.m3-green,
  &-hour:hover.m3-green {
    color: var(--timepicker-primary);
  }

  &-clock-face.m3-green {
    background-color: var(--timepicker-surface);
  }

  &-clock-hand.m3-green,
  &-dot.m3-green,
  &-circle-hand.m3-green {
    background-color: var(--timepicker-primary) !important;
  }

  &-cancel-btn.m3-green,
  &-ok-btn.m3-green {
    color: var(--timepicker-primary);
  }

  &-cancel-btn:hover.m3-green,
  &-ok-btn:hover.m3-green {
    background-color: var(--timepicker-surface);
  }

  &-wrapper-type-time.m3-green {
    color: var(--timepicker-secondary-text);
  }

  &-am.m3-green,
  &-am.m3-green,
  &-pm.m3-green,
  &-pm.m3-green {
    border-color: var(--timepicker-border);
    border-width: 1px;
  }

  &-am.m3-green,
  &-am.m3-green {
    border-bottom-width: 0px;
  }

  &-am:hover.m3-green,
  &-am.active.m3-green,
  &-pm:hover.m3-green,
  &-pm.active.m3-green {
    background-color: var(--timepicker-am-pm-active);
    color: #002021;
  }

  &-hour.mobile:hover.m3-green,
  &-minutes.mobile:hover.m3-green {
    background-color: var(--timepicker-surface);
  }
}
