@use '../variables.scss' as *;

.timepicker-ui-wrapper.crane,
.timepicker-ui-wrapper.mobile.crane {
  --timepicker-bg: #{$cranepurple900};
  --timepicker-surface: #{$cranepurple700};
  --timepicker-surface-hover: #{$cranepurple700};
  --timepicker-text: #{$white};
  --timepicker-secondary-text: #e5e5e5;

  --timepicker-am-pm-active: #{$cranered400};
  --timepicker-am-pm-text-selected: #{$white};
  --timepicker-am-pm-text-unselected: #{$white};

  --timepicker-primary: #{$cranered400};
  --timepicker-on-primary: #{$white};
  --timepicker-primary-container: #{$cranered400};
  --timepicker-on-primary-container: #{$white};

  --timepicker-tertiary-container: #{$cranered400};
  --timepicker-on-tertiary-container: #{$white};

  --timepicker-border: transparent;
  --timepicker-border-radius: 1.25rem;
}

.timepicker-ui {
  &-wrapper,
  &-wrapper.mobile {
    &.crane {
      border-radius: var(--timepicker-border-radius);
      background-color: var(--timepicker-bg);
      color: var(--timepicker-text);
    }
  }

  &-select-time,
  &-select-time.mobile {
    &.crane {
      color: var(--timepicker-secondary-text);
    }
  }

  &-clock-face,
  &-clock-face.mobile {
    &.crane {
      background-color: var(--timepicker-surface);
    }
  }

  &-dot,
  &-dot.mobile {
    &.crane {
      background-color: var(--timepicker-primary);
    }
  }

  &-hour,
  &-minutes,
  &-hour.mobile,
  &-minutes.mobile {
    &.crane {
      background-color: var(--timepicker-surface);
      border-radius: var(--timepicker-border-radius);
      color: var(--timepicker-text);

      &:hover,
      &.active {
        color: var(--timepicker-on-primary);
        background-color: var(--timepicker-primary);
      }
    }
  }

  &-hour.mobile,
  &-minutes.mobile {
    &.crane {
      &[contenteditable='true']:focus,
      &[contenteditable='true']:active {
        border-color: var(--timepicker-text);
        outline-color: var(--timepicker-text);
      }
    }
  }

  &-dots,
  &-dots.mobile {
    &.crane {
      color: var(--timepicker-text);
    }
  }

  &-wrapper-type-time,
  &-wrapper-type-time.mobile {
    &.crane {
      color: var(--timepicker-text);
    }
  }

  &-am,
  &-pm,
  &-am.mobile,
  &-pm.mobile {
    &.crane {
      border: 0.125rem solid var(--timepicker-border);
      background-color: var(--timepicker-surface);
    }

    &:hover,
    &.active {
      &.crane {
        color: var(--timepicker-on-primary);
        background-color: var(--timepicker-am-pm-active);
      }
    }
  }

  &-am {
    &.crane {
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;

      @media screen and (min-width: 320px) and (max-width: 826px) and (orientation: landscape) {
        border-bottom-left-radius: 1.25rem;
        border-top-right-radius: 0;
      }
    }
  }

  &-pm {
    &.crane {
      border-bottom-left-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem;

      @media screen and (min-width: 320px) and (max-width: 826px) and (orientation: landscape) {
        border-bottom-right-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  &-am.mobile {
    &.crane {
      @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
      }
    }
  }

  &-pm.mobile {
    &.crane {
      @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
      }
    }
  }

  &-cancel-btn,
  &-ok-btn,
  &-cancel-btn.mobile,
  &-ok-btn.mobile {
    &.crane {
      color: var(--timepicker-text);
      border-radius: 0.8125rem;
    }

    &:hover {
      &.crane {
        background-color: var(--timepicker-primary);
      }
    }
  }

  &-keyboard-icon-wrapper,
  &-keyboard-icon-wrapper.mobile {
    &.crane {
      color: var(--timepicker-text);

      &:hover .timepicker-ui-keyboard-icon,
      &:hover .timepicker-ui-keyboard-icon.mobile {
        background-color: var(--timepicker-primary);
        color: var(--timepicker-text);
        border-radius: 0.875rem;
      }
    }
  }

  &-input-wrapper {
    &.crane {
      border-radius: 0;
    }
  }

  &-keyboard-icon,
  &-keyboard-icon.mobile {
    &.crane {
      &:hover {
        color: var(--timepicker-text);
      }
    }
  }

  &-clock-hand {
    &.crane {
      background-color: var(--timepicker-primary);
    }
  }

  &-circle-hand {
    &.crane {
      border-color: var(--timepicker-primary);
      background-color: var(--timepicker-primary);
    }
  }

  &-value-tips {
    &.crane {
      color: var(--timepicker-text);
    }
  }
}
