[data-theme='dark'] {
  --tp-bg: #1c1b1f;
  --tp-surface: #2c2b30;
  --tp-surface-hover: #3b3940;
  --tp-input-bg: #2c2b30;

  --tp-text: #e5e5e5;
  --tp-text-secondary: #a1a1a1;
  --tp-text-disabled: rgba(161, 161, 161, 0.6);
  --tp-text-type-time: #a1a1a1;
  --tp-text-icon: #a1a1a1;

  --tp-on-surface: #e5e5e5;
  --tp-on-surface-rgb: 229, 229, 229;

  --tp-am-pm-active: #bb86fc;
  --tp-am-pm-text-selected: #000000;
  --tp-am-pm-text-unselected: #a1a1a1;

  --tp-primary: #bb86fc;
  --tp-on-primary: #000000;
  --tp-primary-container: #bb86fc;
  --tp-on-primary-container: #000000;

  --tp-tertiary-container: #bb86fc;
  --tp-on-tertiary-container: #000000;

  --tp-border: rgba(255, 255, 255, 0.12);
  --tp-outline: #d8b4fe;
  --tp-hover-bg: #3b3940;
  --tp-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);

  --tp-dropdown-option-bg: #2c2b30;
  --tp-dropdown-option-text: #e5e5e5;
}
