[data-theme='pastel'] {
  --tp-bg: #fdf6f0;
  --tp-surface: #fae3d9;
  --tp-surface-hover: #fef0e8;
  --tp-input-bg: #fae3d9;

  --tp-text: #3b3b3b;
  --tp-text-secondary: #a58f86;
  --tp-text-disabled: rgba(59, 59, 59, 0.6);
  --tp-text-type-time: #a58f86;
  --tp-text-icon: #a58f86;

  --tp-am-pm-active: #ffb6b9;
  --tp-am-pm-text-selected: white;
  --tp-am-pm-text-unselected: #a58f86;

  --tp-primary: #ffb6b9;
  --tp-on-primary: white;
  --tp-primary-container: #ffb6b9;
  --tp-on-primary-container: white;

  --tp-tertiary-container: #ffb6b9;
  --tp-on-tertiary-container: white;

  --tp-border: #efdcd2;
  --tp-outline: #ff8a8f;
  --tp-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  --tp-radius: 1.25rem;
}
