@import './variables.scss';

.timepicker-ui {
  * {
    box-sizing: border-box !important;
  }

  &-modal {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(156, 155, 155, 0.6);
    z-index: 5000;
    pointer-events: none;

    &.show {
      pointer-events: auto;
    }

    &.removed {
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      background-color: transparent;
    }
  }

  &-measure {
    position: absolute;
    top: -9999px;
    width: $mesaruelength;
    height: $mesaruelength;
    overflow: scroll;
  }

  &-wrapper,
  &-wrapper.mobile {
    position: fixed;
    z-index: 5001;
    width: 328px;
    height: 500px;
    top: $tm50percent;
    left: $tm50percent;
    transform: $tmtranslatetransform;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: $tmwrapperboxshadow;
    display: flex;
    flex-direction: column;
    outline: none;
  }

  &-wrapper:not(.timepicker-ui-wrapper + .mobile) {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      flex-direction: row;
      height: 360px;
      width: 584px;
    }

    @media screen and (max-width: 330px) and (orientation: portrait) {
      width: 315px;
    }
  }

  &-wrapper.mobile {
    height: 218px;

    @media screen and (max-width: 330px) {
      width: 315px;
    }
  }

  &-header,
  &-header.mobile {
    padding-top: 52px;
    padding-bottom: 36px;
    padding-right: 24px;
    padding-left: 24px;
    height: 104px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }

  &-header.mobile {
    padding-bottom: 0;
    padding-top: 35px;
  }

  &-header:not(.timepicker-ui-header + .mobile) {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      height: auto;
      flex-direction: column;
    }
  }

  &-select-time,
  &-select-time.mobile {
    text-transform: uppercase;
    position: absolute;
    top: calc(28px - 12px);
    left: 24px;
    font-size: 12px;
    color: #a9a9a9;
  }

  &-body {
    height: 256px;
    width: 256px;
    margin: 0 auto;
    position: relative;
    border-radius: 100%;

    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      padding-right: 0;
      padding-left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 23px;
    }
  }

  &-wrapper-landspace {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &-footer,
  &-footer-mobile {
    height: 76px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &-footer:not(.timepicker-ui-footer + .mobile) {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      justify-content: flex-end;
    }
  }

  &-footer.mobile {
    align-items: flex-start;
  }

  &-clock-face {
    background-color: #e0e0e0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: relative;

    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      height: 256px;
      width: 256px;
      top: 15px;
    }
  }

  &-dot {
    position: absolute;
    top: $tm50percent;
    left: $tm50percent;
    user-select: none;
    touch-action: none;
    transform: $tmtranslatetransform;
    background-color: $purple;
    height: 8px;
    width: 8px;
    border-radius: 100%;
  }
  &-tips-wrapper {
    height: 100%;
    width: 100%;
  }
  &-tips-wrapper-24h {
    position: absolute;
    height: 160px;
    width: 160px;
    z-index: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;

    &-disabled {
      pointer-events: none;
      touch-action: none;
      user-select: none;
    }
  }

  &-hour-time-12,
  &-minutes-time,
  &-hour-time-24 {
    position: absolute;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    font-size: 17.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none;
    user-select: none;

    span {
      touch-action: none;
      user-select: none;
    }
  }

  &-hour-time-12 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-wrapper-time,
  &-wrapper-time.mobile {
    display: flex;
    margin-right: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  &-wrapper-time:not(.timepicker-ui-wrapper-time + .mobile) {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      margin-right: 0;
      height: auto;
    }
  }

  &-wrapper-time-24h {
    margin-right: 0px;
  }

  &-wrapper-time.mobile {
    position: relative;
  }

  &-hour,
  &-minutes,
  &-hour.mobile,
  &-minutes.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 51.2px;
    background-color: #e4e4e4;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border: 2px solid transparent;
    padding: 10px;
    width: 96px;
    text-align: center;

    &:focus-visible {
      outline: auto;
    }

    &:hover,
    &.active {
      color: $purple;
      background-color: #ece0fd;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
    }
    &[type='number'] {
      -moz-appearance: textfield !important;
    }
  }

  &-hour,
  &-minutes {
    outline: none;
    border: 2px solid transparent;
    &[contenteditable='true']:focus,
    &[contenteditable='true']:active {
      border: 2px solid $purple;
      outline-color: $purple;
      user-select: all;
    }
  }

  &-hour.mobile,
  &-minutes.mobile {
    height: 70px;
    outline: none;
    border: 2px solid transparent;
    &[contenteditable='true']:focus,
    &[contenteditable='true']:active {
      border: 2px solid $purple;
      outline-color: $purple;
      user-select: all;
    }
  }

  &-dots,
  &-dots.mobile {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 57.6px;
    user-select: none;
    touch-action: none;
  }

  &-wrapper-type-time,
  &-wrapper-type-time.mobile {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #787878;
  }

  &-wrapper-type-time {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      flex-direction: row;
      width: 100%;
    }
  }

  &-wrapper-type-time.mobile {
    height: 70px;
  }

  &-am,
  &-pm,
  &-am.mobile,
  &-pm.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d6d6d6;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &:hover,
    &.active {
      color: $purple;
      background-color: #ece0fd;
    }

    &.active {
      pointer-events: none;
    }
  }

  &-am:not(.timepicker-ui-am + .mobile),
  &-pm:not(.timepicker-ui-pm + .mobile) {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      width: 50%;
      height: 44px;
    }
  }

  &-am,
  &-am.mobile {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-width: calc(0.7504px / 2);
  }

  &-am.mobile {
    border-bottom-left-radius: 0;
  }

  &-am:not(.timepicker-ui-am + .mobile) {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      border-top-right-radius: 0;
      border-top-width: 1.5008px;
      border-right-width: calc(0.7504px / 2);
    }
  }

  &-pm,
  &-pm.mobile {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-width: calc(0.7504px / 2);
    width: 54px;
  }

  &-pm.mobile {
    border-top-right-radius: 0;
  }

  &-pm:not(.timepicker-ui-pm + .mobile) {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      border-bottom-right-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 0;
      border-bottom-width: 1.5008px;
      border-left-width: calc(0.7504px / 2);
      width: 50%;
      height: 44px;
    }
  }

  &-cancel-btn,
  &-ok-btn,
  &-cancel-btn.mobile,
  &-ok.btn-mobile {
    color: $purple;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: transparent;
    text-align: center;
    font-size: 15.2px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: #d6d6d6;
    }
  }

  &-cancel-btn,
  &-cancel-btn.mobile {
    width: 72px;
    margin-right: 4px;
  }

  &-ok-btn,
  &-ok-btn.mobile {
    width: 64px;
    margin-left: 4px;
  }

  &-wrapper-btn,
  &-keyboard-icon,
  &-wrapper-btn-mobile,
  &-keyboard-icon-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-keyboard-icon-wrapper,
  &-keyboard-icon-wrapper.mobile {
    width: 44px;
    height: 44px;
    position: relative;
    bottom: -26px;
    left: 12px;
    transition: all 0.3s ease;

    &:hover .timepicker-ui-keyboard-icon,
    &:hover .timepicker-ui-keyboard-icon.mobile {
      background-color: #d6d6d6;
      border-radius: 7px;
    }
  }

  &-keyboard-icon-wrapper.mobile {
    bottom: -5px;
  }

  &-keyboard-icon,
  &-keyboard-icon.mobile {
    padding: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #4e545a;
    height: 44px;
    width: 44px;

    &:hover {
      color: $purple;
    }
  }

  &-keyboard-icon-wrapper,
  &-keyboard-icon-wrapper.mobile {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      position: absolute;
      bottom: 8px;
    }
  }

  &-wrapper-btn,
  &-wrapper-btn.mobile {
    margin-right: 8px;
    position: relative;
    bottom: -14px;
  }

  &-hour-text,
  &-minute-text,
  &-hour-text.mobile,
  &-minute-text.mobile {
    position: absolute;
    bottom: 6px;
    font-size: 12.8px;
    color: #a9a9a9;
    left: 0;
  }

  &-minute-text,
  &-minute-text.mobile {
    left: 120px;
  }

  &-clock-hand {
    position: absolute;
    background-color: $purple;
    bottom: $tm50percent;
    height: 40%;
    left: calc(50% - 1px);
    transform-origin: center bottom 0;
    width: 2px;
  }

  &-clock-hand-24h {
    height: 23%;
  }

  &-circle-hand {
    position: absolute;
    transform: translate(-48%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
    height: 46px;
    width: 46px;
    box-sizing: border-box !important;
    background-color: $purple;

    &.small-circle {
      height: 36px;
      width: 36px;
      box-sizing: border-box !important;
    }
  }

  &-circle-hand-24h {
    transform: translate(-50%, -50%);
    height: 32px;
    width: 32px;
    top: 4px;
    left: 1px;
  }

  &-value-tips,
  &-value-tips-24h {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease color;
    border-radius: 50%;
    outline: none;

    &:focus {
      background: rgba(143, 143, 143, 0.315);
      box-shadow: $tmwrapperboxshadow;
    }

    &.active {
      color: #fff;
      transition: none;
    }
  }

  &-clock-animation {
    animation: clockanimation 350ms linear;
  }

  &-open-element {
    &.disabled {
      pointer-events: none;
      touch-action: none;
      user-select: none;
    }
  }

  &-tips-animation {
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      height 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  &-tips-disabled {
    color: rgba(156, 155, 155, 0.6);
    pointer-events: none;
  }
}

.opacity {
  transition: $tmopacity;

  &.show {
    opacity: 1;
  }
}

.invalid-value {
  border-color: $redtovalid !important;
  color: $redtovalid !important;

  &:hover,
  &:focus,
  &:active {
    border-color: $redtovalid !important;
    color: $redtovalid !important;
  }
}

@keyframes clockanimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.timepicker-ui-invalid-format {
  border: 2px solid red;
  color: red;
}

.timepicker-ui-invalid-text {
  color: red;
}
