@import './variables.scss';

.timepicker-ui {
  &-wrapper,
  &-wrapper.mobile {
    &.crane-straight {
      border-radius: 0;
      background-color: $cranepurple900;
      color: #fff;

      &.radius {
        border-radius: 1.25rem;
      }
    }
  }

  &-select-time,
  &-select-time.mobile {
    &.crane-straight {
      color: #e5e5e5;
    }
  }

  &-clock-face,
  &-clock-face.mobile {
    &.crane-straight {
      background-color: $cranepurple700;
    }
  }

  &-dot,
  &-dot.mobile {
    &.crane-straight {
      background-color: $cranered400;
    }
  }

  &-hour,
  &-minutes,
  &-hour.mobile,
  &-minutes.mobile {
    &.crane-straight {
      background-color: $cranepurple700;
      border-radius: 0;
      color: $white;

      &.radius {
        border-radius: 1.25rem;
      }

      &:hover,
      &.active {
        background-color: $cranered400;
      }
    }
  }

  &-hour.mobile,
  &-minutes.mobile {
    &.crane-straight {
      &[contenteditable='true']:focus,
      &[contenteditable='true']:active {
        border-color: $white;
        outline-color: $white;
      }
    }
  }

  &-dots,
  &-dots.mobile {
    &.crane-straight {
      color: $white;
    }
  }

  &-wrapper-type-time,
  &-wrapper-type-time.mobile {
    &.crane-straight {
      color: $white;
    }
  }

  &-am,
  &-pm,
  &-am.mobile,
  &-pm.mobile {
    &.crane-straight {
      border: 0.125rem solid transparent;
      border-radius: 0;
      background-color: $cranepurple700;
    }

    &:hover,
    &.active {
      &.crane-straight {
        color: $white;
        background-color: $cranered400;
      }
    }
  }

  &-am {
    &.crane-straight {
      &.radius {
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
      }
    }
  }

  &-pm {
    &.crane-straight {
      &.radius {
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
      }
    }
  }

  &-am:not(.timepicker-ui-am + .mobile) {
    &.crane-straight {
      &.radius {
        @media screen and (min-width: 20rem) and (max-width: 47.9375rem) and(orientation:landscape) {
          border-bottom-left-radius: 1.25rem;
          border-bottom-right-radius: 1.25rem;
        }
      }
    }
  }

  &-pm:not(.timepicker-ui-pm + .mobile) {
    &.crane-straight {
      &.radius {
        @media screen and (min-width: 20rem) and (max-width: 47.9375rem) and(orientation:landscape) {
          border-top-left-radius: 1.25rem;
          border-top-right-radius: 1.25rem;
        }
      }
    }
  }

  &-am.mobile {
    &.crane-straight {
      &.radius {
        @media screen and (min-width: 20rem) and (max-width: 47.9375rem) and(orientation:landscape) {
          border-bottom-left-radius: 0rem;
          border-bottom-right-radius: 0rem;
        }
      }
    }
  }

  &-pm.mobile {
    &.crane-straight {
      &.radius {
        @media screen and (min-width: 20rem) and (max-width: 47.9375rem) and(orientation:landscape) {
          border-top-left-radius: 0rem;
          border-top-right-radius: 0rem;
        }
      }
    }
  }

  &-cancel-btn,
  &-ok-btn,
  &-cancel-btn.mobile,
  &-ok-btn.mobile {
    &.crane-straight {
      color: $white;
      border-radius: 0rem;

      &.radius {
        border-radius: 0.8125rem;
      }
    }

    &:hover {
      &.crane-straight {
        background-color: $cranered400;
      }
    }
  }

  &-keyboard-icon-wrapper,
  &-keyboard-icon-wrapper.mobile {
    &.crane-straight {
      color: $white;

      &.radius {
        border-radius: 1.25rem;
      }
    }

    &.crane-straight {
      &:hover .timepicker-ui-keyboard-icon,
      &:hover .timepicker-ui-keyboard-icon.mobile {
        background-color: $cranered400;
        color: $white;
        border-radius: 0;
      }

      &.radius {
        &:hover .timepicker-ui-keyboard-icon,
        &:hover .timepicker-ui-keyboard-icon.mobile {
          border-radius: 0.875rem;
        }
      }
    }
  }

  &-keyboard-icon,
  &-keyboard-icon.mobile {
    &.crane-straight {
      &:hover {
        color: $white;

        &.radius {
          border-radius: 1.25rem;
        }
      }
    }
  }

  &-clock-hand {
    &.crane-straight {
      background-color: $cranered400;
    }
  }

  &-circle-hand {
    &.crane-straight {
      border-color: $cranered400;
    }
  }

  &-value-tips {
    &.crane-straight {
      color: #fff;
    }
  }
}
