@use '../variables.scss' as *;

.tp-ui {
  &-wrapper-type-time,
  &-wrapper-type-time.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font-size: var(--tp-font-size-lg);
    font-weight: 500;
    color: var(--tp-text-type-time);
    margin-left: var(--tp-spacing-md);
  }

  &-wrapper-type-time.mobile {
    justify-content: flex-start;
  }

  &-wrapper-type-time.expanded:not(.mobile) {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      flex-direction: row;
      width: 100%;
      margin-left: 0;
    }
  }

  &-wrapper-type-time.mobile {
    align-self: auto;
  }

  &-am,
  &-pm,
  &-am.mobile,
  &-pm.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--tp-border-width) solid var(--tp-border);
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: var(--tp-am-pm-text-unselected);

    @media (hover: hover) {
      &:hover {
        color: var(--tp-am-pm-text-unselected);
        background-color: var(--tp-am-pm-active);
      }
    }

    &.active {
      color: var(--tp-am-pm-text-selected);
      background-color: var(--tp-am-pm-active);
      pointer-events: none;

      @media (hover: hover) {
        &:hover {
          color: var(--tp-am-pm-text-selected);
        }
      }
    }
  }

  &-am.expanded,
  &-pm.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      width: 50%;
      height: var(--tp-size-am-pm-height-landscape);
    }
  }

  &-am.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      border-right: unset;
      border-bottom: var(--tp-border-width) solid #000;
    }
  }

  &-am,
  &-am.mobile {
    border-top-left-radius: var(--tp-radius-sm);
    border-top-right-radius: var(--tp-radius-sm);
  }

  &-am.mobile {
    border-bottom-left-radius: 0;
    max-height: var(--tp-size-am-pm-height);
  }

  &-pm.mobile {
    max-height: var(--tp-size-am-pm-height);
  }

  &-am.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      border-top-left-radius: var(--tp-radius-sm);
      border-bottom-left-radius: var(--tp-radius-sm);
      border-top-right-radius: 0;
      border-right-width: var(--tp-border-width-half);
    }
  }

  &-am,
  &-am.mobile {
    border-bottom: unset;
  }

  &-pm,
  &-pm.mobile {
    border-bottom-left-radius: var(--tp-radius-sm);
    border-bottom-right-radius: var(--tp-radius-sm);
    width: var(--tp-size-am-pm-width);
  }

  &-pm.mobile {
    border-top-right-radius: 0;
  }

  &-pm.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      border-bottom-right-radius: var(--tp-radius-sm);
      border-top-right-radius: var(--tp-radius-sm);
      border-bottom-left-radius: 0;
      border-bottom-width: var(--tp-border-width-pm);
      border-left-width: var(--tp-border-width-half);
      width: 50%;
      height: var(--tp-size-am-pm-height-landscape);
    }
  }
}
