@use '../variables.scss' as *;

.timepicker-ui {
  &-wrapper-type-time,
  &-wrapper-type-time.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font-size: 16px;
    font-weight: 500;
    color: var(--timepicker-type-time-text);
    margin-left: 12px;
  }

  &-wrapper-type-time.mobile {
    justify-content: flex-start;
  }

  &-wrapper-type-time.expanded:not(.mobile) {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      flex-direction: row;
      width: 100%;
      margin-left: 0;
    }
  }

  &-wrapper-type-time.mobile {
    align-self: auto;
  }

  &-am,
  &-pm,
  &-am.mobile,
  &-pm.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--timepicker-border);
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: var(--timepicker-am-pm-text-unselected);

    &:hover {
      color: var(--timepicker-am-pm-text-unselected);
      background-color: var(--timepicker-am-pm-active);
    }

    &.active {
      color: var(--timepicker-am-pm-text-selected);
      background-color: var(--timepicker-am-pm-active);
      pointer-events: none;

      &:hover {
        color: var(--timepicker-am-pm-text-selected);
      }
    }
  }

  &-am.expanded,
  &-pm.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      width: 50%;
      height: 44px;
    }
  }

  &-am.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      border-right: unset;
      border-bottom: 1px solid #000;
    }
  }

  &-am,
  &-am.mobile {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  &-am.mobile {
    border-bottom-left-radius: 0;
    max-height: 40px;
  }

  &-pm.mobile {
    max-height: 40px;
  }

  &-am.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      border-top-right-radius: 0;
      border-right-width: calc(0.7504px / 2);
    }
  }

  &-am,
  &-am.mobile {
    border-bottom: unset;
  }

  &-pm,
  &-pm.mobile {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 54px;
  }

  &-pm.mobile {
    border-top-right-radius: 0;
  }

  &-pm.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      border-bottom-right-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 0;
      border-bottom-width: 1.5008px;
      border-left-width: calc(0.7504px / 2);
      width: 50%;
      height: 44px;
    }
  }
}
