@use '../variables.scss' as *;

.timepicker-ui {
  &-body {
    height: 256px;
    width: 256px;
    margin: 0 auto;
    position: relative;
    border-radius: 100%;

    &.expanded {
      @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
        padding-right: 0;
        padding-left: 0;
        display: flex;
        height: 100%;
        margin-top: 48px;
      }
    }
  }
}
