@use '../variables.scss' as *;

.timepicker-ui {
  &-header,
  &-header.mobile {
    padding-bottom: 36px;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  &-header.show {
    padding-bottom: 0;
  }

  &-header.mobile {
    padding-bottom: 0;

    &.expanded {
      align-items: unset;
      height: auto;
      padding-bottom: 36px;

      & .timepicker-ui-wrapper-time.mobile {
        align-items: unset;

        &.expanded {
          align-items: center;
        }
      }
    }
  }

  &-header.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      height: auto;
      flex-direction: column;
    }
  }

  &-wrapper.expanded &-select-time {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      position: absolute;
    }
  }

  &-mobile-clock-wrapper.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      width: 100%;
      height: 100% !important;
      justify-content: unset;
    }
  }

  &-select-time,
  &-select-time.mobile {
    padding: 24px;
    font-size: 12px;
    color: var(--timepicker-secondary-text);
  }
}
