@use '../variables.scss' as *;

.tp-ui {
  &-keyboard-icon-wrapper,
  &-keyboard-icon-wrapper.mobile {
    transition: all 0.3s ease;
    display: flex;
    cursor: pointer;
    z-index: 10;

    &:hover svg {
      fill: var(--tp-primary);
    }
  }

  &-keyboard-icon svg,
  &-keyboard-icon.mobile svg {
    cursor: pointer;
    transition: all 0.3s ease;
    fill: var(--tp-text-icon);
    pointer-events: none;
  }
}
