@use '../variables.scss' as *;

.tp-ui {
  &-input-wrapper {
    position: relative;
    display: flex;
    border-radius: var(--tp-radius-md);
    overflow: visible;
    width: 96px;

    &.mobile {
      input {
        height: var(--tp-size-input-mobile);
      }
    }
  }

  &-input-wrapper.mobile {
    flex-direction: column;
  }

  &-input-ripple-wrapper {
    position: relative;
    display: flex;
    border-radius: var(--tp-radius-md);
    overflow: hidden;
    width: 100%;
    height: 80px;

    &.mobile {
      height: 72px;
    }

    &.expanded {
      height: 80px;
    }
  }

  &-input-ripple-wrapper.mobile {
    height: var(--tp-size-input-mobile);
    &.expanded {
      height: var(--tp-size-input-height);
    }
  }

  &-wrapper-time,
  &-wrapper-time.mobile {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &-wrapper-time.expanded {
    @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
      margin-right: 0;
      height: auto;
      margin-bottom: var(--tp-spacing-lg);
    }
  }

  &-wrapper-time-24h {
    margin-right: 0px;
  }

  &-wrapper-time.mobile {
    position: relative;
    width: 100%;
    max-width: fit-content;
    height: auto;
  }

  &-hour,
  &-minutes,
  &-hour.mobile,
  &-minutes.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--tp-font-size-xl);
    height: var(--tp-size-input-height);
    background-color: var(--tp-input-bg);
    border-radius: var(--tp-radius-md);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border: var(--tp-border-width-thick) solid transparent;
    padding: var(--tp-size-padding);
    width: var(--tp-size-input);
    text-align: center;
    color: var(--tp-text);

    &.mobile {
      height: 72px;
    }

    &.expanded {
      height: 80px;
    }

    &:focus-visible {
      outline: none;
      border: 2px solid var(--tp-outline);
    }

    @media (hover: hover) {
      &:hover {
        color: var(--tp-text);
        background-color: var(--tp-surface-hover);
      }
    }

    &.active {
      color: var(--tp-on-primary-container);
      background-color: var(--tp-primary-container);

      @media (hover: hover) {
        &:hover {
          color: var(--tp-on-primary-container);
        }
      }
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
    }
  }

  &-hour,
  &-minutes {
    outline: none;
    border: 2px solid transparent;

    &[contenteditable='true']:focus,
    &[contenteditable='true']:active {
      border: 2px solid var(--tp-outline);
      outline-color: var(--tp-outline);
      user-select: all;
    }
  }

  &-hour.mobile,
  &-minutes.mobile {
    outline: none;
    border: 2px solid transparent;
    &[contenteditable='true']:focus,
    &[contenteditable='true']:active {
      border: 2px solid var(--tp-outline);
      outline-color: var(--tp-outline);
      user-select: all;
    }
  }

  &-dots,
  &-dots.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 48px;
    border-radius: 50%;
    background-color: transparent;
    gap: 12px;

    span {
      width: var(--tp-size-dot);
      height: var(--tp-size-dot);
      background-color: var(--tp-text);
      border-radius: 50%;
      display: block;
    }
  }

  &-dots.mobile {
    justify-content: normal;
  }

  &-hour-text,
  &-minute-text {
    font-size: 12.8px;
    color: var(--tp-text-secondary);
    margin-top: 8px;
    pointer-events: none;
    display: none;

    &.show {
      display: block;
    }

    &.mobile {
      display: block;

      &.expanded {
        display: none;
      }
    }
  }
}
