@use '../variables.scss' as *;

.tp-ui-wrapper,
.tp-ui-wrapper.mobile {
  position: fixed;
  z-index: 5001;
  width: 328px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--tp-bg);
  border-radius: var(--tp-border-radius);
  box-shadow: var(--tp-shadow);
  display: flex;
  flex-direction: column;
  outline: none;
}

.tp-ui-wrapper.expanded {
  will-change: width, height, flex-direction;

  @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
    flex-direction: row;
    height: 360px;
    width: 584px;
    transition:
      width 400ms cubic-bezier(0.4, 0, 0.2, 1),
      height 400ms cubic-bezier(0.4, 0, 0.2, 1),
      flex-direction 0ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 330px) and (orientation: portrait) {
    width: 315px;
  }
}

.tp-ui-wrapper.mobile {
  height: auto;
  transition:
    width 400ms cubic-bezier(0.4, 0, 0.2, 1),
    height 400ms cubic-bezier(0.4, 0, 0.2, 1),
    flex-direction 0ms cubic-bezier(0.4, 0, 0.2, 1) 400ms;

  @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
    width: 328px;
    height: 258px;
    transition:
      width 400ms cubic-bezier(0.4, 0, 0.2, 1),
      height 400ms cubic-bezier(0.4, 0, 0.2, 1),
      flex-direction 0ms cubic-bezier(0.4, 0, 0.2, 1) 400ms;
  }

  @media screen and (max-width: 330px) {
    width: 315px;
  }
}

.tp-ui-mobile-clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  overflow: hidden;
  transition:
    height 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tp-ui-mobile-clock-wrapper.expanded {
  height: 256px;
  opacity: 1;
  transform: scale(1);

  @media screen and (min-width: 320px) and (max-width: 825px) and (orientation: landscape) {
    height: 100%;
    width: 100%;
    transform-origin: left center;
    transition:
      height 400ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
